/* Estos elementos determinan las acciones asociadas a los íconos como la lupa, la barra de menú y la equis. */
@charset "UTF-8";

/* Este atributo rige todos los elemtnos centrales */
@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Alternates', sans-serif;
}

@font-face {
  font-family: "untitled-font-2";
  src:url("../fonts/untitled-font-2.eot");
  src:url("../fonts/untitled-font-2.eot") format("embedded-opentype"),
    url("../fonts/untitled-font-2.woff") format("woff"),
    url("../fonts/untitled-font-2.ttf") format("truetype"),
    url("../fonts/untitled-font-2.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "untitled-font-2" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-2" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\61";
}
.icon-buscar:before {
  content: "\62";
}
.icon-equis:before {
  content: "\63";
}


/* Este elemento rige el cuerpo de la página */

body{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/background.png);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;

    /* esto lo agregó victor */
    background-attachment: fixed;
    background-position: center;
    /* hasta aquí llega mi agregación xD */
}

/* Estos elementos rigen el menú de búsqueda a la izquierda */

.header{
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0; left: 0;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
.container .btn-menu, .logo{
    float: left;
    line-height: 70px;
    cursor: pointer;
    
}

.container .btn-menu, .logo a {
    text-decoration: none;
}

.container .btn-menu label{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
}

.logo h1{
    color: #fff;
    font-weight: 9999;
    font-size: 20px;
    margin-left: 10px;
}

.container .menu{
    float: right;
    line-height: 70px;
}
.container .menu a{
    display: inline-block;
    padding: 15px 10px;
    line-height: normal;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
}

.container .menu a:hover{
    border-bottom: 3px solid rgb(16, 102, 40);
    padding: 8px 11px;
}

/* Menú laterla */
#btn-menu{
    display: none;
}

.container-menu{
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    top: 0; left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}

.cont-menu{
    width: 100%;
    max-width: 250px;
    background:rgb(16, 102, 40);
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    }

.cont-menu nav{
    transform: translateY(15%)

}

.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;

}

.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
    
}

.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
}
/* Este primer grupo rige los elementos para celulares */

@media screen and (min-width:350px){
    .buscar:hover > .btn-menu{
        width: 190px;
    }
}

/* Este rige los elementos para tablets */

@media screen and (min-width:768px){
    .buscar:hover > .btn-menu{
        width: 300px;
    } 
}

/* Estos rigen los elementos para PCs */

@media screen and (min-width:1024px){
    .buscar:hover > .btn-menu{
        width: 500px;
    }
}

header{
    display: grid;
    grid-template-columns: 35%;
    grid-template-rows: 50%;   
    gap: 1em;
}
header .btn-menu{
    /* background: rgb(16, 102, 40); */
    padding: 1em;
}

body > .btn-menu {
    border: 5px solid yellow;

}

