* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    list-style: none;
}

html {
    height: 100%;
}

.root{
    }

body {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: 0.5fr 4fr 0.5fr;
    grid-template-areas:    "header header"
                            "aside  main"
                            "footer footer";
    height: 100%;
    background-image: url(../img/background.png);
    background-attachment: fixed;
    background-size: cover;    
    background-position: center;
}

/* Elementos de la cabecera de la página */
header{
    border: 3px solid green;
    grid-area: header;
    display: grid;
    grid-template-columns: 25% 25% 50%;
}

header .logo{
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
}

header a{
    text-decoration: none;
    
}

header .nav{
    grid-column-start: 3;
    grid-column-end:  4;
    text-align: center;
    
}
/* Elementos barra izquierda */
aside {
    border: 3px solid green;
    grid-area: aside;
    text-align: center;
}


/* Elementos centrales de la página */
main {
    border: 3px solid green;
    grid-area: main;
    text-align: center;
        
}

/* Elementos del final de la página */
footer {
    border: 3px solid green;
    grid-area: footer;
    text-align: center;
}